<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			ML App
		</div>
		<h2>Movie search engine</h2>
		
	</div>
	</header>
	<p style="color:blue;font-size:20;text-align: center;"><b>Results for my search engine</b></p>
	<div class="results">

            <ul>	
				{% if prediction == 'bad' %}
						<h2> Please give me more concrete infomation !</h2>
						{% else %}
					{% for item in prediction %}
						<h2> Title </h2>
						<form action={{item[3]}} method="GET",target="_blank">
							<button type="submit">{{ item[2][0] }}</button>
						</form>
						<h3> Description</h3>
						<li>{{ item[2][1] }}</li>
						<h2> Rating </h2>
						<body>{{ item[0] }}</body>
						<h3> Genre </h3>
						<li>{{ item[1] }}</li>
					{% endfor %}
					{% endif %}
            </ul>
		

	</div>
	
	<body>
		
		<h2> Score for Search result </h2>
		
		{{ mydiv }}
		
</body>
</html>